.terminal {
	font-family: "Fira Code", monospace;
	font-size: 16px;
	font-weight: normal;
	font-variant-ligatures: none;
	color: #cccccc;
	background-color: black;
	overflow-y: auto;
	overflow-x: clip;
	max-width: calc(100vw);
	word-break: break-all;
	text-wrap: wrap;

	text-shadow: 0 0 1px currentColor;
}

.terminal-scanlines::before,
.terminal-scanlines::after {
    display: block;
    pointer-events: none;
    content: "";
    position: fixed;
	width: 100%;
	overflow: hidden;
}

.terminal-scanlines::before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(255, 255, 255, 0.07);
    opacity: 0.75;
    animation: terminal-scanlines-before 6s linear infinite;
}

.terminal-scanlines::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(255, 255, 255, 0.07) 51%
    );
    background-size: 100% 4px;
    animation: terminal-scanlines-after 1s steps(60) infinite;
}

@keyframes terminal-scanlines-before {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}

@keyframes terminal-scanlines-after {
    0% {
        background-position: 0 50%;
    }
}

.terminal ::selection {
	background-color: #222222ee;
	text-shadow: none;
}

.terminal-content {
	display: inline;
	margin-block: 0px;
	line-height: initial;
	font-size: inherit;
	font-family: inherit;
}

.terminal-content span {
	text-wrap: wrap;
	word-break: break-all;
	overflow: clip;
}

.terminal-content a {
	cursor: pointer;
}

.terminal-content a:hover {
	text-decoration: underline;
}

.terminal-input {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	display: inline;
	border: none;
	outline: none;
	background: none;
	padding: 0;
	line-height: 1;
	padding-block: 0px;
	padding-inline: 0px;
	word-break: break-all;
	text-wrap: wrap;
	max-width: calc(100vw - 16px);
}

textarea.terminal-input {
	resize: none;
}

input.terminal-input {
	/* this doesnt work lmfaooo */
	/* overflow: visible !important;
    overflow-clip-margin: unset !important; */

	/* fix for UA overflow clipping */
	height: 1.5em;
	margin-top: -0.25em;
	margin-bottom: -0.25em;
}

/* .terminal-content::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background: repeating-linear-gradient(0deg, #ffffff0f, transparent 5px)
} */