#SOUL {
    top: 0%;
    left: 0%;
    width: 22px;
    height: 22px;

    position: absolute;
    transition-property: transform, opacity;
    transition-duration: 100ms;
    pointer-events: none;
    transform: translate(-100px, -100px);
    overflow: visible;
}

.soul.heart {
    top: 0%;
    left: 0%;
    width: 22px;
    height: 22px;
    position: absolute;
    opacity: calc(1 - var(--blur));
    transition-property: transform, opacity;
    transition-duration: 100ms;
}

.soul.blur {
    position: absolute;
    z-index: -100;
    transition-property: transform, opacity;
    transition-duration: 50ms;
    width: 20px;
    height: 20px;
    transform: translate(1px, 1px) scale(calc(var(--blur) * 0.5 + 1));
    opacity: calc(var(--blur) * 0.2);
}
