:root {
	--mantine-color-violet-light: #7950f226 !important;
	--mantine-color-violet-light-hover: #7950f233 !important;
	--mantine-color-violet-light-color: var(--mantine-color-violet-3) !important;
}

body[data-starry=true] .mantine-SegmentedControl-root {
    background-color: rgba(0,0,0,0.2);  /* rgba(255, 255, 255, 0.1); */ /*#1A1B1E88*/
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.2);
    backdrop-filter: blur(10px);
}

body[data-starry=true] .mantine-SegmentedControl-indicator {
    background-color: rgba(0,0,0,0.4);  /* rgba(255, 255, 255, 0.1); */ /*#1A1B1E88*/
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.4);
}

.scrollbarOnLeft .mantine-ScrollArea-scrollbar {
    inset-inline-start: unset !important;
    right: unset !important;
}

.scrollbarOnLeft .mantine-ScrollArea-viewport {
    padding-right: unset;
    padding-left: var(--scrollarea-scrollbar-size);
}

.listAlignEnd.mantine-List-root {
    padding-left: 0;
    padding-right: var(--_list-pl,0);
}

.listAlignEnd .mantine-List-itemWrapper {
    flex-direction: row-reverse;
}

.listAlignEnd .mantine-List-itemIcon {
    margin-left: var(--_item-icon-mr,var(--mantine-spacing-sm));
    margin-right: var(--_item-icon-ml,0);
}

.mantine-NavLink-root:hover {
    background-color: rgba(0,0,0,0);
}

.mantine-Accordion-item .mantine-Accordion-chevron {
    transition: transform 200ms ease;
    transform: rotate(0deg);
}

.mantine-Accordion-item[data-active=true] .mantine-Accordion-chevron {
    transform: rotate(180deg);
}

.mantine-Accordion-control {
    background-color: var(--button-bg) !important;
}

.mantine-Accordion-control:hover {
    background-color: var(--button-hover) !important;
}

.mantine-Accordion-control {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-right: 5px;
}

.mantine-Accordion-label {
    flex: 1;
}

