.oneshot-square {
    animation: oneshot-sqmove 5000ms linear infinite;
    animation-delay: calc(var(--animrand) * -250);
    transform: scale(0);

    /* animation-name: oneshot-glitch;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: step-end; */
}

@keyframes oneshot-sqmove {
    0% {
        transform: translate(0, calc(-10px * var(--dir))) scale(0);
    }

    5% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        scale: 0;
        transform: translate(0, calc(var(--dir) * 100cqh/4)) scale(0);
    }
}

#jackenstein-jackolantern {
    background-image: url(./dancing-jackolantern.gif);
    height: 56px;
    width: 150lvw;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0%;
    animation: jackolantern-scroll 1.5s linear infinite;
    z-index: -10;
    opacity: 0.1;
}

@keyframes jackolantern-scroll {
    0% { background-position: 50px 0; }
    100% { background-position: 0 0; }
}
