@media screen and (max-width: 500px) {
	.container {
		--stack-align: center !important;
	}

	.column {
		--width: 90vw !important;
		--fromleft: 0 !important;
	}

	.column::before {
		left: calc(50% - var(--fromleft)) !important;
		width: calc(100% - var(--fromleft) * 2) !important;
	}
}

.container,
.column {
	overflow: clip;
}

.column {
	--width: 350px;
	--fromleft: 20%;

	width: var(--width);
	margin-left: var(--fromleft);
}

.column::before {
	content: "";
	position: fixed;
	top: 0;
	left: var(--fromleft);
	width: var(--width);
	height: 100%;
	z-index: -1;
	background-image: linear-gradient(to right,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(0, 0, 0, 0.1) 5%,
			rgba(0, 0, 0, 0.1) 95%,
			rgba(0, 0, 0, 0.4));
	background-size: 100% 100%;
	backdrop-filter: blur(2px);
}

.name {
	background-image: repeating-linear-gradient(to right,
			#ff6978,
			#ee803c,
			#f5e26b,
			#89ce94,
			#008dd5,
			#6f73d2,
			#ff6978);
	background-size: 400% 100%;
	color: transparent;
	text-align: center;
	background-clip: text;
	animation: scroll-bgpos 7s linear infinite;
}

@keyframes scroll-bgpos {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -400% 0%;
	}
}