.badge {
    width: 88px;
    height: 31px;
    transition: all 100ms;
    outline: solid 0px transparent;
    outline-offset: 0px;
}

.badge a, .badge img {
    width: 88px;
    height: 31px;
    display: block;
}
