.badge {
    width: 88px;
    height: 31px;
    transition: all 100ms;
    outline: solid 0px transparent;
    outline-offset: 0px;
}

.soul-selectable[data-soul-selected] .badge {
    outline: solid 2px red;
    outline-offset: 1px;
}
